
  a{ 
    text-decoration: none;
   }
       p{
         text-align:center;
       }
	   th{
        text-transform: capitalize;
       }
       h1{
        text-shadow: 2px 2px 2px blueviolet;
        

       }
    
    